PORT=9000
MONGO_URI=mongodb://localhost:27017/yaclam
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ACCESS_TOKEN_EXPIRES=1d
REFRESH_TOKEN_EXPIRES=7d
JWT_ISSUER=YACLAM
DEFAULT_PAGE=1
DEFAULT_PAGESIZE=10
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@yaclam.com
FRONTEND_URL=http://localhost:3000
